section h2 {
  color: #222;
  line-height: 1.4;
}

section h5 {
  color: #000;
}

section p {
  font-size: 0.95rem;
  line-height: 1.7;
}

.badge.bg-primary {
  background-color: #00A5EC !important;
}